.container {
    display: flex;
    margin-left: 100px;
    justify-content: center;



}

.card-body i {
    display: flex;
    font-size: 35px;
    color: #222831;
    justify-content: left;
    cursor: pointer;

}

.iconUsuario i {
    font-size: 60px;
    margin-left: 70px;
}

.inventario_img i {
    font-size: 100px;

}

#headerUsuario {
    color: #222831;
    background:#FEBF63;

}

#headerVentas {
    color: #222831;
    background:#CDFFFC;


}

#ventas{
    height: 120px;
    margin-right: 40px;
}



#headerInventario {
    color: #222831;
    background:#FFFA9D;

}

#headerLogistica {
    color: #222831;
    background:#E5D1FA;

}

#headerOperaciones {
    color: #222831;
    background:#B9E9FC;

}

#headerDashboard {
    color: #222831;
    background:#C9F4AA;

}

#bodyUsuario {
    height: 115px;
    background: #FF6E31;
    border-radius: 5px;

}

#bodyVentas {
    height: 115px;
    background: #00E7FF;
}

#bodyInventario {
    height: 115px;
    background: #FFD24C;
}

#bodyLogistica {
    height: 115px;
    background: #937DC2;
}

#bodyOperaciones {
    height: 115px;
    background: #2192FF;
}

#bodyDashboard {
    height: 115px;
    background: #7DCE13;
}



#bodyListar{
   
    padding: 40px;
    background: #FF6E31;
    
}

#bodyListar i{
    font-size: 35px;
    margin-right: 120px;
    
}

#bodyCrear{
    padding: 36px;
    background: #FF6E31;
    
}



#bodyRol{
    padding: 40px;
    background: #FF6E31;
    
}

#bodyRol i{
    font-size: 35px;
    margin-right: 120px;
    
}

#bodyCrear i{
    font-size: 45px;
    margin-right: 120px;
    
}

#bodyNuevo{
    padding: 50px;
    background: #00E7FF;
    font-size: 120px;
}

#bodyNuevo i{
    font-size: 40px;
    margin-right: 120px;
}

#bodyFacturar{
    padding: 50px;
    background: #00E7FF;
}

#bodyFacturar i{
    font-size: 45px;
    margin-right: 120px;
    
}

#bodyBuscar{
    padding: 50px;
    background: #00E7FF;
    
}
#bodyBuscar img{
    height: 40px;
    width: 50px;
    margin-right: 120px;
}

#bodyBuscar i{
    font-size: 40px;
    margin-right: 140px;
}



#bodyReportes{
    padding: 50px;
    background: #00E7FF;
}

#bodyReportes i{
    font-size: 45px;
    margin-right: 120px;
}

#ventas{
display: flex;
justify-content: flex-start;
margin-bottom: 80px;
}

.iconUsuario img{
    height: 40px;
    margin-left: 65px;
    
}

.iconVentas img{
    height: 60px;
    margin-left: 40px;
    
}
.iconUsuario p{
    height: 40px;
    margin-left: 35px;
}

.iconVentas p{
    height: 40px;
    margin-left: 55px;
}

.iconPrincipal img{
    height: 40px;
    margin-left: 60px;
    margin-top: 10px;
}

.iconPrincipal i{
    height: 50px;
    margin-left: 60px;
    margin-top: 10px;
}
.iconPrincipalInventario{
    font-size: 40px;
    margin-left: 60px;
    margin-top: 10px;
}

.iconPrincipalInventario p{
  font-size: 20px;
  
}

.iconPrincipalInventario i{
    font-size: 20px;
    margin-left: 60px;
    
  }

.iconPrincipal p{
    height: 60px;
    margin-left: 40px;
    
}



.container{
    
    height: 100px;
    margin-bottom: 40px
}

#bgRegistro{
    padding: 100px;
    background: #D8D9CF;   
    border-radius: 5px; 
    margin-bottom: 20px;
    margin-top: 10px;
    
}



#emailRegistro i{
position: absolute;
margin-bottom: 90px;
}

.container_formulario{
    height: 60px;
    
}




.containerUsuario{
    display: flex;
    margin-top: 100px;
   margin-left: 80px;
  
} 

#tituloRegistro{
    font-size: 30px;
}

.modal-body p{
    color: #D8D9CF;
    
}



#contenedorPrincipal{
    display: flex;
justify-content: center;
margin-left: 200px;
}


#nuevoProducto{
    height: 40px;
    width: 160px;
}

#nuevoProducto p{
  margin-bottom: 20px;
}

#power{
    height: 35px;
    width: 70px;

}

#power i{
    margin-bottom: 15px;
    color:#E5D1FA;
    font-size: 20px;
    margin-left: 10px;
}

#agregarArticulo{
    background: #937DC2;
    color:#CDFFFC;
}

#agregarArticulo p{
    color:#CDFFFC;
}

.number p{
    font-size: 40px;
    color: #222831;
}

.table.dataTable td {
    font-size: 1em;
  }

#excel img{
    background-color: black;
}




















